// Width

$container-width:  1180px;

// fonts

$main-font: 'Montserrat', sans-serif;


// Colors

$black-color: #000;
$white-color: #fff;
$red-color: #EE4248;
$light-green: #ecfdf5;
$green-color: rgb(4, 120, 87);
$green-color-hover: #009163;